*{
	margin: 0px;
	padding: 0px;
}

.header{
	background-color: #006400;
	line-height: 70px;
	padding-left: 30px;
	font-size: 25px;
	color: white;


	
}

a, a:hover{
	text-decoration: none!important;
	color: white;

}

.logout{
	float: right;
	padding-right: 50px;
	color: white;


}

.sidebar{
	background-color: #fff;
	border-right: 2px solid black;
	font-size: 20px;

}


ul
{
	background-color: #006400;
	width: 16%;
	height: 100%;
	position: fixed;
	padding-top: 5%;
	padding-left: 10px;
	text-align: left;
}

ul li
{
	list-style: none;
	padding-bottom: 30px;
	font-size: 15px;
}
ul li a{
	color: black;
	font-weight: bold;
}

ul li a:hover{
	color: red;
	text-decoration: none;

}

.contain{
	margin-left: 20%;
	margin-top: 10px;
}



/*    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial';
    text-decoration: none !important;
    outline: none;


}

.contain {
    float: right;
    width: 25%;
    height: 100%;
    position: relative;
    display: block;
    align-content: right;
    justify-content: justify;
    padding:50px 40px 30px;
    color: white;
    font-family: 'Arial';
    
}

.left input{
    height: 30px;
    width: 150px;
    font-size: 15px;
    font-weight: 500;
}

.left button{
    width: 100px;
    height: 30px;
    background-color: #006400;
    outline: none;
    border: 0;



}
.left button a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    
    
}

/* Basic styling for the sidebar */
/*.container {
    width: 25%;
    background-color: #006400;
    position: fixed;
    height: 100%;
    display: block;

}


.header h1{
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    padding: 40px 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;

}


.sidebar{
	background-color: #fff;
	border-right: 2px solid black;
	font-size: 20px;

}
.sidebar ul
{
	background-color: #006400;
	width: 16%;
	height: 100%;
	position: fixed;
	padding-top: 5%;
	padding-left: 10px;
	text-align: left;
}

.sidebar ul li
{
	list-style: none;
	padding-bottom: 30px;
	font-size: 15px;
}
.sidebar ul li a{
	color: black;
	font-weight: bold;
}

.sidebar ul li a:hover{
	color: red;
	text-decoration: none;

}
sidebar a{
  position: relative;
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 25px;
    line-height: 30px;
    padding: 15px 40px;
    text-transform: uppercase;
}

.sidebar a:hover {
    cursor: pointer;
    background-color: white;
}


bot {
	margin-top: 100%;
    width: 100%;
    height: 20%;
    position: absolute;
    display: block;
    color: white;
    align-items: center;
    border: 2px solid red;
}

.bot h3 {
	width: 30%;
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    align-items: center;


}*/


